body {
    margin: 0;
    background-color: rgb(240, 240, 240);
}

nav {
    
    border-bottom: 2px solid black;
    width: 100%;
    height: 100px;
    margin: 10px auto;
    position: sticky;
    top: 0;
    background-color: white;
}

.bar {
    position: relative;
}

.logo img {
    width: 50px;
    border-radius: 50px;
    position: absolute;
    top: 25px;
    left: 60px;
}
.liste ul li {
    list-style-type: none;
    display: inline;
    font-size: 20px;
    margin: 5px;

}

.liste ul {
    width: 350px;
    
    background: rgb(255, 255, 255, 0.5);
    position: absolute;
    top: 25px;
    right: 100px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.liste a {
    text-decoration: none;
}

a:link {
    color: black;
}
a:visited {
    color: black;
}
a:hover {
    background: linear-gradient(90deg, white, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a:active {
    color: gold;
}

.about {
    background-color: WHITE;
    border: 5px double black;
    border-radius: 8px;
    width: 90%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 20px;
}

div h2 {
    text-align: center;
}

.gallery {
margin: auto;
text-align: center;
}

.gallery img {
    float: left;
    margin-left: 20px;
    width: calc((100% - 80px)/3);
    margin-top: 10px;
    border-radius: 10px;
    width: 400px;
    margin: auto;
}

.gallery img:hover {
    transform: scale(1.05);
}
.about p {
    text-align: center;
}

.flex {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}
.about button {
    width: 80px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 15px;
}
.about button:hover {
    transform: scale(1.05);
}
.about .wathsapp {
    background-color: green;
}
.about .facebook {
    background-color: #0866ff;
}
.about .instagram { 
    background-color: #df4a1d;
}

.social {
    text-align: center;
}
 
.schedule table {
    text-align: center;
    margin: auto;
    background-color: white;
}

table, th,td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 15px;
    width: 90%;
}

form {
    background-color: white;
    width: 94%;
    height: 300px;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
}

.contact .input {
    display: block;
    margin: auto;
    margin-bottom: 15px;
    width: 90%;
    height: 25px;
    
}
.contact textarea {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 90%;
    height: 100px;
    

}
.contact label {
    display: inline-block;
    margin-left: 4.5%;
}

.send {
    background-color: rgb(77, 177, 77);
    outline: none;
    border: none;
    border-radius: 5px;
    width: 60px;
    height: 30px;
    color: white;
    display: inline-block;
    margin-left: 4.5%;
}.send:hover {
    background-color: green;
}

